
.DS_Store
boomer_input/symbiont-merged-all.owl
omim-ordo/tmp/*
omim-ordo/boomer_input/symbiont-merged-all.owl
omim-ordo-do/boomer_input/symbiont-merged-all.owl
notebooks/output/*.json
omim-ordo-do/boomer_output/*/*.json
omim-ordo-do/boomer_output/*/*.dot